<div class="centered-content-layout relative">
    <div class="border-top"></div>
    <div class="container px-4 lg:ml-auto dimension">
        <img src="assets/images/login.svg" alt="login" class="hidden lg:block absolute-bg">
        <div class="2xl:flex 2xl:flex-col m-auto w-full lg:w-6/12 lg:mx-auto">
            <div class="flex flex-col py-2 justify-center">
                <img class="mx-auto logo" src="assets/images/logo-full.svg" alt="logo">
                <h4 class="sm:text-3xl text-2x1 text-center my-2 font-montserrat font-bold">Iniciar Sesión</h4>
                <div class="flex flex-row my-2">
                    <mat-form-field appearance="outline" class="w-1/4 mr-5 text-sm">
                        <mat-label>Selecciona</mat-label>
                        <mat-select>
                            <mat-option value="one">DNI</mat-option>
                            <mat-option value="two">CE</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full text-sm">
                        <mat-label>Ingreso del número de documento</mat-label>
                        <input inputmode="numeric" maxlength="9" (keyup)="_keyUp($event)" matInput placeholder="N° de documento">
                    </mat-form-field>
                </div>
                <p class="text-left text-sm flex items-center">
                    <mat-icon class="text-yellow-500 mr-3">info</mat-icon>Clave de internet de 6 digitos
                </p>
                <app-password-field></app-password-field>
                <mat-checkbox class="text-gray-100 text-sm" color="primary">Recordar datos</mat-checkbox>
                <a class="text-center text-primary text-sm leading-5 underline my-4" routerLink="/signup">Recupera tu
                    contraseña aquí</a>
                <button (click)="LoginHB()" class="shadow-lg py-2 uppercase block w-full pt-4 text-base text-white rounded-2xl bg-primary hover:bg-blue-900 focus:outline-none font-montserrat" color="primary">INGRESAR</button>
                <button routerLink="/create-account" class="shadow-lg py-2 uppercase block w-full pt-4 text-base text-black rounded-2xl bg-white hover:bg-blue-100 hover:text-black font-montserrat focus:outline-none" >CREAR CLAVE</button>
            </div>
        </div>
        <a class="flex items-center text-sm my-2 ml-5">
            <mat-icon class="text-yellow-500 mr-3">help</mat-icon><span class="underline text-primary">Necesitas
                ayuda</span>
        </a>
    </div>
</div>
