::ng-deep.pass .mat-form-field-wrapper{
    padding-bottom: 15px !important;
}

.ph-center::-webkit-input-placeholder {
  text-align: center;
}


.ph-center{
  text-align: center;
  font-size: medium;
}

@media (max-width: 600px) {
  .btn-delete {
    position: absolute;
    bottom: 63.5%;
    left: 82%;
  }
}
